.idea/*
*.iml
*.iws
*.out/*
*.build/*

*.iml
*.ipr
*.iws
out/
.idea_modules/
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
/.nb-gradle/
build/
*.gradle/*

!libs/ojdbc8.jar
!gradle/wrapper/gradle-wrapper.jar

!.idea/runConfigurations

applications/profile.properties
